<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Login System</title>
</head>
<body>

    <nav>
        <h1>Login System</h1>
    </nav>

    {% block content %}
    <section class="homepage">
        <h1>Welcome</h1>
    </section>
    <div>
        <button>log in</button>
    </div>
    {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='javascript.js')}}"></script>
</body>
</html>